[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
loguru = "*"

[dev-packages]
flake8 = "*"
flake8-builtins = "*"
pep8-naming = "*"
flake8-commas = "*"
flake8-variables-names = "*"
flake8-import-order = "*"
flake8-simplify = "*"
flake8-bugbear = "*"
yapf = "*"
pytest = "*"

[requires]
python_version = "3.10"
